@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1587914439368'); /* IE9 */
  src: url('iconfont.eot?t=1587914439368#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABmwAAAJWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp4gQMBNgIkAwgLBgAEIAWEbQcwG6kFyC6wbdiTABMmiDO48N1AAxDi4Wu/13PfbghAZSIBNaDiEgifSmRXR0akRlco0rX9W2v5iMJl/LN8RajQL2QPOJfS+MoqXWErDAnTCtd2iPBlloB/0LlzvPzHvdM/6vxfIPOdd7nMPagLMA6kwPbEKLKilBvGbiJ4gI8JVOvXk93YnK6ZigysCsQ9xxKZSsEvy06qUihvOJjFC2Uqi4fFeM6/H3/NRSWFsgRUbN9Y68zsF5iRLkocUUSAYBwvQ8KsjEzsN8Y35YVDyauOFwzLHKs0+KVUokZxVJ1w/jpQXAt6df4zCbDwUVkLkBnPqIzJSR5SLZh/2n78/cG3ah59ufh6kBHt9W/k9ytEW8P7ustT2Ntt0SnN/9U19XQ/WtO+/Yg5TPcj58jMgG3pPPdZIFj/1PI/LPyrrMng58W12TAnlXt1BH9HMLAvxyJgKHIoaEwXRuXP2lKtGiWmu9nfVHXbraRDpbYbclboy6xJZSzQ0UyehTI15qFcpWWoNmN7vEYLkhe5CtNeNQiN3qFQ7xKSRp9oJv9CmXb/UK4xElQ7jJYLa4zH7do6oWDUIF/AUVFokIlrovSM1oMvKC/i1DtS6oRgPBiVU1sMkZbYkj5aE2YDhqIANtpz6PsRxBS5qHhgM8fT4dA0vWmgoiBTs44ggSENSC+AQ4mEDB3OapXPnyHLA59AHT0j9jtEUs7kYGxgNADdysNBPY/ySuqRZYIxAxgkEgAbbR7y+SIgbp7nQgobsCdEY1NDOMgMlQ+2VwZ/dwSqAU0RcFZSflU4WoSZDAAAAA==') format('woff2'),
  url('iconfont.woff?t=1587914439368') format('woff'),
  url('iconfont.ttf?t=1587914439368') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1587914439368#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcaidan:before {
  content: "\e83b";
}

